Knapsack Problem/transportadora-entrada.txt
Knapsack Problem/transportadora-saida.txt
String Search/sequenciamento-entrada.txt
String Search/sequenciamento-saida.txt
Data Compression/compressao-entrada.txt
Data Compression/compressao-saida.txt